---
http_interactions:
- request:
    method: get
    uri: https://places.googleapis.com/v1/places/ChIJQyv318Q1aDQRYz_krC4mdb4
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Goog-Api-Key:
      - "<GMAP_TOKEN>"
      X-Goog-Fieldmask:
      - id,displayName,formattedAddress,rating,regularOpeningHours,primaryType,location
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ChIJQyv318Q1aDQRYz_krC4mdb4",
          "formattedAddress": "No. 229號, Zhongyang Rd, East District, Hsinchu City, Taiwan 30041",
          "location": {
            "latitude": 24.8098161,
            "longitude": 120.9751319
          },
          "rating": 4.4,
          "regularOpeningHours": {
            "openNow": false,
            "periods": [
              {
                "open": {
                  "day": 0,
                  "hour": 11,
                  "minute": 0
                },
                "close": {
                  "day": 0,
                  "hour": 21,
                  "minute": 30
                }
              },
              {
                "open": {
                  "day": 1,
                  "hour": 11,
                  "minute": 0
                },
                "close": {
                  "day": 1,
                  "hour": 21,
                  "minute": 30
                }
              },
              {
                "open": {
                  "day": 2,
   [...]
- request:
    method: post
    uri: https://places.googleapis.com/v1/places:searchText
    body:
      encoding: ASCII-8BIT
      string: '{"textQuery":"nthu"}'
    headers:
      Content-Type:
      - application/json
      X-Goog-Api-Key:
      - "<GMAP_TOKEN>"
      X-Goog-Fieldmask:
      - places.id,places.displayName,places.formattedAddress,places.rating,places.regularOpeningHours,places.primaryType,places.location
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "places": [
            {
              "id": "ChIJB7ZNzXI2aDQREwR22ltdKxE",
              "formattedAddress": "No. 101號, Section 2, Guangfu Rd, East District, Hsinchu City, Taiwan 300",
              "location": {
                "latitude": 24.7961217,
                "longitude": 120.9966699
              },
              "rating": 4.6,
              "displayName": {
                "text": "National Tsing Hua University",
                "languageCode": "en"
              },
              "primaryType": "university"
            },
            {
              "id": "ChIJmecsSO01aDQRGT_QzrFSwfA",
              "formattedAddress": "No. 521號, Nanda Rd, East District, Hsinchu City, Taiwan 300",
              "location": {
                "latitude": 24.794294999999998,
                "longitude": 120.9653557
              },
              "rating": 4.4,
              "displayName": {
                "text": "National Tsing Hua University Nanda Campus",
                "languageCode": "en"
        [...]
- request:
    method: post
    uri: https://places.googleapis.com/v1/places:searchText
    body:
      encoding: ASCII-8BIT
      string: '{"textQuery":"invaliddestinationId"}'
    headers:
      Content-Type:
      - application/json
      X-Goog-Api-Key:
      - "<GMAP_TOKEN>"
      X-Goog-Fieldmask:
      - places.id,places.displayName,places.formattedAddress,places.rating,places.regularOpeningHours,places.primaryType,places.location
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{}\n"
  recorded_at: Fri, 15 Dec 2023 17:20:04 GMT
[...]
- request:
    method: post
    uri: https://places.googleapis.com/v1/places:searchText
    body:
      encoding: ASCII-8BIT
      string: '{"textQuery":"nthu"}'
    headers:
      Content-Type:
      - application/json
      X-Goog-Api-Key:
      - bad_token
      X-Goog-Fieldmask:
      - places.id,places.displayName,places.formattedAddress,places.rating,places.regularOpeningHours,places.primaryType,places.location
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": 400,
            "message": "API key not valid. Please pass a valid API key.",
            "status": "INVALID_ARGUMENT",
            "details": [
              {
                "@type": "type.googleapis.com/google.rpc.ErrorInfo",
                "reason": "API_KEY_INVALID",
                "domain": "googleapis.com",
                "metadata": {
                  "service": "places.googleapis.com"
                }
              }
            ]
          }
        }
  recorded_at: Fri, 15 Dec 2023 17:20:04 GMT
- request:
    method: get
    uri: https://places.googleapis.com/v1/places/ChIJB7ZNzXI2aDQREwR22ltdKxE
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Goog-Api-Key:
      - "<GMAP_TOKEN>"
      X-Goog-Fieldmask:
      - id,displayName,formattedAddress,rating,regularOpeningHours,primaryType,location
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ChIJB7ZNzXI2aDQREwR22ltdKxE",
          "formattedAddress": "No. 101號, Section 2, Guangfu Rd, East District, Hsinchu City, Taiwan 300",
          "location": {
            "latitude": 24.7961217,
            "longitude": 120.9966699
          },
          "rating": 4.6,
          "displayName": {
            "text": "National Tsing Hua University",
            "languageCode": "en"
          },
          "primaryType": "university"
        }
  recorded_at: Fri, 15 Dec 2023 17:20:05 GMT
[...]
- request:
    method: post
    uri: https://routes.googleapis.com/distanceMatrix/v2:computeRouteMatrix
    body:
      encoding: ASCII-8BIT
      string: '{"origins":[{"waypoint":{"placeId":"ChIJB7ZNzXI2aDQREwR22ltdKxE"}},{"waypoint":{"placeId":"ChIJcYy0Y3KpQjQRXiW_s2lGln8"}},{"waypoint":{"placeId":"ChIJl78Wnt01aDQRz1shOsBVUGU"}}],"destinations":[{"waypoint":{"placeId":"ChIJB7ZNzXI2aDQREwR22ltdKxE"}},{"waypoint":{"placeId":"ChIJcYy0Y3KpQjQRXiW_s2lGln8"}},{"waypoint":{"placeId":"ChIJl78Wnt01aDQRz1shOsBVUGU"}}],"routingPreference":"TRAFFIC_UNAWARE","travelMode":"DRIVE"}'
    headers:
      Content-Type:
      - application/json
      X-Goog-Api-Key:
      - "<GMAP_TOKEN>"
      X-Goog-Fieldmask:
      - originIndex,destinationIndex,duration,distanceMeters,status
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "[{\n  \"originIndex\": 0,\n  \"destinationIndex\": 0,\n  \"status\":
        {},\n  \"duration\": \"0s\"\n}\n,\r\n{\n  \"originIndex\": 2,\n  \"destinationIndex\":
        2,\n  \"status\": {},\n  \"duration\": \"0s\"\n}\n,\r\n{\n  \"originIndex\":
        0,\n  \"destinationIndex\": 2,\n  \"status\": {},\n  \"distanceMeters\": 2283,\n
        \ \"duration\": \"417s\"\n}\n,\r\n{\n  \"originIndex\": 2,\n  \"destinationIndex\":
        0,\n  \"status\": {},\n  \"distanceMeters\": 2229,\n  \"duration\": \"441s\"\n}\n,\r\n{\n
        \ \"originIndex\": 1,\n  \"destinationIndex\": 1,\n  \"status\": {},\n  \"duration\":
        \"0s\"\n}\n,\r\n{\n  \"originIndex\": 0,\n  \"destinationIndex\": 1,\n  \"status\":
        {},\n  \"distanceMeters\": 72886,\n  \"duration\": \"3549s\"\n}\n,\r\n{\n
        \ \"originIndex\": 1,\n  \"destinationIndex\": 2,\n  \"status\": {},\n  \"distanceMeters\":
        77546,\n  \"duration\": \"3988s\"\n}\n,\r\n{\n  \"originIndex\": 2,\n  \"destinationIndex\":
        1,\n  \"status\": {},\n  \"distanceMeters\": 74975,\n  \"duration\": \"3919s\"\n}\n,\r\n{\n
        \ \"originIndex\": 1,\n  \"destinationIndex\": 0,\n  \"status\": {},\n  \"distanceMeters\":
        75424,\n  \"duration\": \"3660s\"\n}\n]"
  recorded_at: Fri, 15 Dec 2023 17:20:06 GMT
[...]
- request:
    method: post
    uri: https://routes.googleapis.com/directions/v2:computeRoutes
    body:
      encoding: ASCII-8BIT
      string: '{"origin":{"placeId":"ChIJB7ZNzXI2aDQREwR22ltdKxE"},"destination":{"placeId":"ChIJmecsSO01aDQRGT_QzrFSwfA"},"routingPreference":"TRAFFIC_UNAWARE","travelMode":"DRIVE"}'
    headers:
      Content-Type:
      - application/json
      X-Goog-Api-Key:
      - bad_token
      X-Goog-Fieldmask:
      - routes.duration,routes.distanceMeters,routes.polyline.encodedPolyline
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": 400,
            "message": "API key not valid. Please pass a valid API key.",
            "status": "INVALID_ARGUMENT",
            "details": [
              {
                "@type": "type.googleapis.com/google.rpc.ErrorInfo",
                "reason": "API_KEY_INVALID",
                "domain": "googleapis.com",
                "metadata": {
                  "service": "routes.googleapis.com"
                }
              }
            ]
          }
        }
  recorded_at: Fri, 15 Dec 2023 17:20:06 GMT
- request:
    method: post
    uri: https://routes.googleapis.com/directions/v2:computeRoutes
    body:
      encoding: ASCII-8BIT
      string: '{"origin":{"placeId":"ChIJB7ZNzXI2aDQREwR22ltdKxE"},"destination":{"placeId":"ChIJmecsSO01aDQRGT_QzrFSwfA"},"routingPreference":"TRAFFIC_UNAWARE","travelMode":"DRIVE"}'
    headers:
      Content-Type:
      - application/json
      X-Goog-Api-Key:
      - "<GMAP_TOKEN>"
      X-Goog-Fieldmask:
      - routes.duration,routes.distanceMeters,routes.polyline.encodedPolyline
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "routes": [
            {
              "distanceMeters": 3900,
              "duration": "710s",
              "polyline": {
                "encodedPolyline": "y~ivCgdoaVA@cBoAMMeCvDcHbMc@`AuDxQkBdI{AhGg@pB_CjLMPaB~GMr@\\FtGjBVNp@`B@TtCxGrBvDtAvCjBlDfIpO^l@xLvUJVR~@RpBf@nQBh@Ap@Cx@Oz@Qn@_@n@eAjAeA|@b@Ft@@"
              }
            }
          ]
        }
  recorded_at: Fri, 15 Dec 2023 17:20:06 GMT
- request:
    method: get
    uri: https://places.googleapis.com/v1/places/ChIJlWImqHKpQjQREk5-6lec4-w
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Goog-Api-Key:
      - "<GMAP_TOKEN>"
      X-Goog-Fieldmask:
      - id,displayName,formattedAddress,rating,regularOpeningHours,primaryType,location
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ChIJlWImqHKpQjQREk5-6lec4-w",
          "formattedAddress": "No. 8號, Zhengzhou Rd, Zhongzheng District, Taipei City, Taiwan 100",
          "location": {
            "latitude": 25.04882,
            "longitude": 121.51374999999999
          },
          "rating": 4.3,
          "displayName": {
            "text": "Taipei Main Station",
            "languageCode": "en"
          },
          "primaryType": "subway_station"
        }
  recorded_at: Fri, 15 Dec 2023 17:20:07 GMT
- request:
    method: get
    uri: https://places.googleapis.com/v1/places/ChIJl78Wnt01aDQRz1shOsBVUGU
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Goog-Api-Key:
      - "<GMAP_TOKEN>"
      X-Goog-Fieldmask:
      - id,displayName,formattedAddress,rating,regularOpeningHours,primaryType,location
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UT[...]
[...]
