---
http_interactions:
- request:
    method: post
    uri: https://routes.googleapis.com/distanceMatrix/v2:computeRouteMatrix
    body:
      encoding: ASCII-8BIT
      string: '{"routingPreference":"TRAFFIC_AWARE","travelMode":"DRIVE","origins":[{"waypoint":{"place_id":"ChIJB7ZNzXI2aDQREwR22ltdKxE"}},{"waypoint":{"place_id":"ChIJl78Wnt01aDQRz1shOsBVUGU"}},{"waypoint":{"place_id":"ChIJQyv318Q1aDQRYz_krC4mdb4"}}],"destinations":[{"waypoint":{"place_id":"ChIJB7ZNzXI2aDQREwR22ltdKxE"}},{"waypoint":{"place_id":"ChIJl78Wnt01aDQRz1shOsBVUGU"}},{"waypoint":{"place_id":"ChIJQyv318Q1aDQRYz_krC4mdb4"}}]}'
    headers:
      Content-Type:
      - application/json
      X-Goog-Api-Key:
      - "<GMAP_TOKEN>"
      X-Goog-Fieldmask:
      - originIndex,destinationIndex,duration,distanceMeters,status
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "[{\n  \"originIndex\": 0,\n  \"destinationIndex\": 0,\n  \"status\":
        {},\n  \"duration\": \"0s\"\n}\n,\r\n{\n  \"originIndex\": 2,\n  \"destinationIndex\":
        2,\n  \"status\": {},\n  \"duration\": \"0s\"\n}\n,\r\n{\n  \"originIndex\":
        2,\n  \"destinationIndex\": 0,\n  \"status\": {},\n  \"distanceMeters\": 3979,\n
        \ \"duration\": \"603s\"\n}\n,\r\n{\n  \"originIndex\": 0,\n  \"destinationIndex\":
        2,\n  \"status\": {},\n  \"distanceMeters\": 3195,\n  \"duration\": \"508s\"\n}\n,\r\n{\n
        \ \"originIndex\": 1,\n  \"destinationIndex\": 1,\n  \"status\": {},\n  \"duration\":
        \"0s\"\n}\n,\r\n{\n  \"originIndex\": 0,\n  \"destinationIndex\": 1,\n  \"status\":
        {},\n  \"distanceMeters\": 2283,\n  \"duration\": \"440s\"\n}\n,\r\n{\n  \"originIndex\":
        1,\n  \"destinationIndex\": 0,\n  \"status\": {},\n  \"distanceMeters\": 2229,\n
        \ \"duration\": \"436s\"\n}\n,\r\n{\n  \"originIndex\": 2,\n  \"destinationIndex\":
        1,\n  \"status\": {},\n  \"distanceMeters\": 1999,\n  \"duration\": \"386s\"\n}\n,\r\n{\n
        \ \"originIndex\": 1,\n  \"destinationIndex\": 2,\n  \"status\": {},\n  \"distanceMeters\":
        1831,\n  \"duration\": \"427s\"\n}\n]"
  recorded_at: Sun, 22 Oct 2023 11:12:01 GMT
- request:
    method: post
    uri: https://routes.googleapis.com/distanceMatrix/v2:computeRouteMatrix
    body:
      encoding: ASCII-8BIT
      string: '{"routingPreference":"TRAFFIC_AWARE","travelMode":"DRIVE","origins":[{"waypoint":{"place_id":"ChIJB7ZNzXI2aDQREwR22ltdKxE"}},{"waypoint":{"place_id":"ChIJl78Wnt01aDQRz1shOsBVUGU"}},{"waypoint":{"place_id":"ChIJQyv318Q1aDQRYz_krC4mdb4"}}],"destinations":[{"waypoint":{"place_id":"ChIJB7ZNzXI2aDQREwR22ltdKxE"}},{"waypoint":{"place_id":"ChIJl78Wnt01aDQRz1shOsBVUGU"}},{"waypoint":{"place_id":"ChIJQyv318Q1aDQRYz_krC4mdb4"}}]}'
    headers:
      Content-Type:
      - application/json
      X-Goog-Api-Key:
      - bad_token
      X-Goog-Fieldmask:
      - originIndex,destinationIndex,duration,distanceMeters,status
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        [{
          "error": {
            "code": 400,
            "message": "API key not valid. Please pass a valid API key.",
            "status": "INVALID_ARGUMENT",
            "details": [
              {
                "@type": "type.googleapis.com/google.rpc.ErrorInfo",
                "reason": "API_KEY_INVALID",
                "domain": "googleapis.com",
                "metadata": {
                  "service": "routes.googleapis.com"
                }
              }
            ]
          }
        }
        ]
  recorded_at: Sun, 22 Oct 2023 11:12:01 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/findplacefromtext/json?fields=place_id&input=%E5%9C%8B%E7%AB%8B%E6%B8%85%E8%8F%AF%E5%A4%A7%E5%AD%B8&inputtype=textquery&key=<GMAP_TOKEN>
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n   \"candidates\" : \n   [\n      {\n         \"place_id\" : \"ChIJB7ZNzXI2aDQREwR22ltdKxE\"\n
        \     }\n   ],\n   \"status\" : \"OK\"\n}"
  recorded_at: Sun, 22 Oct 2023 11:12:01 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?fields=name,place_id,formatted_address,rating&key=<GMAP_TOKEN>&place_id=ChIJB7ZNzXI2aDQREwR22ltdKxE
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n   \"html_attributions\" : [],\n   \"result\" : \n   {\n      \"formatted_address\"
        : \"No. 101號, Section 2, Guangfu Rd, East District, Hsinchu City, Taiwan 300\",\n
        \     \"name\" : \"National Tsing Hua University\",\n      \"place_id\" :
        \"ChIJB7ZNzXI2aDQREwR22ltdKxE\",\n      \"rating\" : 4.6\n   },\n   \"status\"
        : \"OK\"\n}"
  recorded_at: Sun, 22 Oct 2023 11:12:02 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/findplacefromtext/json?fields=place_id&input=%E5%B7%A8%E5%9F%8E&inputtype=textquery&key=<GMAP_TOKEN>
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n   \"candidates\" : \n   [\n      {\n         \"place_id\" : \"ChIJQyv318Q1aDQRYz_krC4mdb4\"\n
        \     }\n   ],\n   \"status\" : \"OK\"\n}"
  recorded_at: Sun, 22 Oct 2023 11:12:02 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?fields=name,place_id,formatted_address,rating&key=<GMAP_TOKEN>&place_id=ChIJQyv318Q1aDQRYz_krC4mdb4
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n   \"html_attributions\" : [],\n   \"result\" : \n   {\n      \"formatted_address\"
        : \"No. 229號, Zhongyang Rd, East District, Hsinchu City, Taiwan 30041\",\n
        \     \"name\" : \"Big City\",\n      \"place_id\" : \"ChIJQyv318Q1aDQRYz_krC4mdb4\",\n
        \     \"rating\" : 4.4\n   },\n   \"status\" : \"OK\"\n}"
  recorded_at: Sun, 22 Oct 2023 11:12:02 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/findplacefromtext/json?fields=place_id&input=%E6%96%B0%E7%AB%B9%E5%8B%95%E7%89%A9%E5%9C%92&inputtype=textquery&key=<GMAP_TOKEN>
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n   \"candidates\" : \n   [\n      {\n         \"place_id\" : \"ChIJl78Wnt01aDQRz1shOsBVUGU\"\n
        \     }\n   ],\n   \"status\" : \"OK\"\n}"
  recorded_at: Sun, 22 Oct 2023 11:12:02 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?fields=name,place_id,formatted_address,rating&key=<GMAP_TOKEN>&place_id=ChIJl78Wnt01aDQRz1shOsBVUGU
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n   \"html_attributions\" : [],\n   \"result\" : \n   {\n      \"formatted_address\"
        : \"300034, Taiwan, Hsinchu City, East District, 食品路66號300\",\n      \"name\"
        : \"Hsinchu Zoo\",\n      \"place_id\" : \"ChIJl78Wnt01aDQRz1shOsBVUGU\",\n
        \     \"rating\" : 4\n   },\n   \"status\" : \"OK\"\n}"
  recorded_at: Sun, 22 Oct 2023 11:12:02 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/findplacefromtext/json?fields=place_id&input=%E5%9C%8B%E7%AB%8B%E6%B8%85%E8%8F%AF%E5%A4%A7%E5%AD%B8&inputtype=textquery&key=bad_token
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
           "candidates" : [],
           "error_message" : "The provided API key is invalid.",
           "status" : "REQUEST_DENIED"
        }
  recorded_at: Sun, 22 Oct 2023 11:12:02 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/findplacefromtext/json?fields=place_id&input=ImAIdthatdoesntexist&inputtype=textquery&key=<GMAP_TOKEN>
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
           "candidates" : [],
           "status" : "ZERO_RESULTS"
        }
  recorded_at: Sun, 22 Oct 2023 11:12:03 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/findplacefromtext/json?fields=place_id&input=Rio%20de%20Janeiro&inputtype=textquery&key=<GMAP_TOKEN>
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n   \"candidates\" : \n   [\n      {\n         \"place_id\" : \"ChIJW6AIkVXemwARTtIvZ2xC3FA\"\n
        \     }\n   ],\n   \"status\" : \"OK\"\n}"
  recorded_at: Sun, 22 Oct 2023 11:12:03 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?fields=name,place_id,formatted_address,rating&key=<GMAP_TOKEN>&place_id=ChIJW6AIkVXemwARTtIvZ2xC3FA
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n   \"html_attributions\" : [],\n   \"result\" : \n   {\n      \"formatted_address\"
        : \"Rio de Janeiro, State of Rio de Janeiro, Brazil\",\n      \"name\" : \"Rio
        de Janeiro\",\n      \"place_id\" : \"ChIJW6AIkVXemwARTtIvZ2xC3FA\"\n   },\n
        \  \"status\" : \"OK\"\n}"
  recorded_at: Sun, 22 Oct 2023 11:12:03 GMT
- request:
    method: post
    uri: https://routes.googleapis.com/directions/v2:computeRoutes
    body:
      encoding: ASCII-8BIT
      string: '{"routingPreference":"TRAFFIC_AWARE","travelMode":"DRIVE","origin":{"placeId":"ChIJB7ZNzXI2aDQREwR22ltdKxE"},"destination":{"placeId":"ChIJQyv318Q1aDQRYz_krC4mdb4"}}'
    headers:
      Content-Type:
      - application/json
      X-Goog-Api-Key:
      - "<GMAP_TOKEN>"
      X-Goog-Fieldmask:
      - routes.duration,routes.distanceMeters,routes.polyline.encodedPolyline
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "routes": [
            {
              "distanceMeters": 3195,
              "duration": "508s",
              "polyline": {
                "encodedPolyline": "y~ivCgdoaVA@cBoAMMeCvDcHbMc@`AuDxQkBdI{AhGg@pB_CjLm@pCcFjTk@zCO`A_@|EuAtNK|@c@fBaAbAeEzCQFa@VaAz@yDfCiDuGQe@[qAm@f@cBhA"
              }
            }
          ]
        }
  recorded_at: Sun, 22 Oct 2023 11:12:03 GMT
[...]
- request:
    method: post
    uri: https://routes.googleapis.com/directions/v2:computeRoutes
    body:
      encoding: ASCII-8BIT
      string: '{"routingPreference":"TRAFFIC_AWARE","travelMode":"DRIVE","origin":{"placeId":"ChIJB7ZNzXI2aDQREwR22ltdKxE"},"destination":{"placeId":"ChIJW6AIkVXemwARTtIvZ2xC3FA"}}'
    headers:
      Content-Type:
      - application/json
      X-Goog-Api-Key:
      - "<GMAP_TOKEN>"
      X-Goog-Fieldmask:
      - routes.duration,routes.distanceMeters,routes.polyline.encodedPolyline
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{}\n"
  recorded_at: Sun, 22 Oct 2023 11:12:03 GMT
recorded_with: VCR 6.2.0
