---
http_interactions:
- request:
    method: post
    uri: https://places.googleapis.com/v1/places:searchText
    body:
      encoding: UTF-8
      string: '{"textQuery":"清大"}'
    headers:
      Content-Type:
      - application/json
      X-Goog-Api-Key:
      - "<GMAP_TOKEN>"
      X-Goog-Fieldmask:
      - places.displayName,places.id,places.formattedAddress,places.rating,places.regularOpeningHours,places.primaryType
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "places": [
            {
              "id": "ChIJB7ZNzXI2aDQREwR22ltdKxE",
              "formattedAddress": "No. 101號, Section 2, Guangfu Rd, East District, Hsinchu City, Taiwan 300",
              "rating": 4.6,
              "displayName": {
                "text": "National Tsing Hua University",
                "languageCode": "en"
              },
              "primaryType": "university"
            }
          ]
        }
  recorded_at: Fri, 01 Dec 2023 04:21:48 GMT
- request:
    method: post
    uri: https://places.googleapis.com/v1/places:searchText
    body:
      encoding: ASCII-8BIT
      string: '{"textQuery":"Hsinchu zoo"}'
    headers:
      Content-Type:
      - application/json
      X-Goog-Api-Key:
      - "<GMAP_TOKEN>"
      X-Goog-Fieldmask:
      - places.displayName,places.id,places.formattedAddress,places.rating,places.regularOpeningHours,places.primaryType
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "places": [
            {
              "id": "ChIJl78Wnt01aDQRz1shOsBVUGU",
              "formattedAddress": "300034, Taiwan, Hsinchu City, East District, 食品路66號300",
              "rating": 4,
              "regularOpeningHours": {
                "openNow": true,
                "periods": [
                  {
                    "open": {
                      "day": 0,
                      "hour": 9,
                      "minute": 0
                    },
                    "close": {
                      "day": 0,
                      "hour": 17,
                      "minute": 0
                    }
                  },
                  {
                    "open": {
                      "day": 2,
                      "hour": 9,
                      "minute": 0
                    },
                    "close": {
                      "day": 2,
                      "hour": 17,
                      "minute": 0
                    }
                  },
        [...]
[...]
- request:
    method: post
    uri: https://routes.googleapis.com/distanceMatrix/v2:computeRouteMatrix
    body:
      encoding: ASCII-8BIT
      string: '{"origins":[{"waypoint":{"placeId":"ChIJB7ZNzXI2aDQREwR22ltdKxE"}},{"waypoint":{"placeId":"ChIJneUTn3KpQjQRGGR7w7CKOQg"}},{"waypoint":{"placeId":"ChIJl78Wnt01aDQRz1shOsBVUGU"}}],"destinations":[{"waypoint":{"placeId":"ChIJB7ZNzXI2aDQREwR22ltdKxE"}},{"waypoint":{"placeId":"ChIJneUTn3KpQjQRGGR7w7CKOQg"}},{"waypoint":{"placeId":"ChIJl78Wnt01aDQRz1shOsBVUGU"}}],"routingPreference":"TRAFFIC_UNAWARE","travelMode":"DRIVE"}'
    headers:
      Content-Type:
      - application/json
      X-Goog-Api-Key:
      - "<GMAP_TOKEN>"
      X-Goog-Fieldmask:
      - originIndex,destinationIndex,duration,distanceMeters,status
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "[{\n  \"originIndex\": 0,\n  \"destinationIndex\": 0,\n  \"status\":
        {},\n  \"duration\": \"0s\"\n}\n,\r\n{\n  \"originIndex\": 0,\n  \"destinationIndex\":
        2,\n  \"status\": {},\n  \"distanceMeters\": 2283,\n  \"duration\": \"417s\"\n}\n,\r\n{\n
        \ \"originIndex\": 2,\n  \"destinationIndex\": 0,\n  \"status\": {},\n  \"distanceMeters\":
        2229,\n  \"duration\": \"441s\"\n}\n,\r\n{\n  \"originIndex\": 2,\n  \"destinationIndex\":
        2,\n  \"status\": {},\n  \"duration\": \"0s\"\n}\n,\r\n{\n  \"originIndex\":
        0,\n  \"destinationIndex\": 1,\n  \"status\": {},\n  \"distanceMeters\": 72430,\n
        \ \"duration\": \"3428s\"\n}\n,\r\n{\n  \"originIndex\": 1,\n  \"destinationIndex\":
        0,\n  \"status\": {},\n  \"distanceMeters\": 73288,\n  \"duration\": \"3457s\"\n}\n,\r\n{\n
        \ \"originIndex\": 1,\n  \"destinationIndex\": 1,\n  \"status\": {},\n  \"duration\":
        \"0s\"\n}\n,\r\n{\n  \"originIndex\": 1,\n  \"destinationIndex\": 2,\n  \"status\":
        {},\n  \"distanceMeters\": 75409,\n  \"duration\": \"3786s\"\n}\n,\r\n{\n
        \ \"originIndex\": 2,\n  \"destinationIndex\": 1,\n  \"status\": {},\n  \"distanceMeters\":
        74519,\n  \"duration\": \"3798s\"\n}\n]"
  recorded_at: Fri, 01 Dec 2023 04:21:49 GMT
[...]
- request:
    method: post
    uri: https://routes.googleapis.com/directions/v2:computeRoutes
    body:
      encoding: ASCII-8BIT
      string: '{"origin":{"placeId":"ChIJB7ZNzXI2aDQREwR22ltdKxE"},"destination":{"placeId":"ChIJmecsSO01aDQRGT_QzrFSwfA"},"routingPreference":"TRAFFIC_UNAWARE","travelMode":"DRIVE"}'
    headers:
      Content-Type:
      - application/json
      X-Goog-Api-Key:
      - "<GMAP_TOKEN>"
      X-Goog-Fieldmask:
      - routes.duration,routes.distanceMeters,routes.polyline.encodedPolyline
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "routes": [
            {
              "distanceMeters": 3855,
              "duration": "719s",
              "polyline": {
                "encodedPolyline": "y~ivCgdoaVA@cBoAMMeCvDcHbMc@`AuDxQkBdI{AhGg@pB_CjLMPaB~GMr@_B|GaAnEi@lBI^?\\YxDd@F\\VvAbCfEbInBlD~@jBfEpHvEzIxEpJ`B`D~B`EhEjIdCtE^l@HGb@Ft@@"
              }
            }
          ]
        }
  recorded_at: Fri, 01 Dec 2023 04:21:50 GMT
- request:
    method: post
    uri: https://routes.googleapis.com/directions/v2:computeRoutes
    body:
      encoding: ASCII-8BIT
      string: '{"origin":{"placeId":"ChIJB7ZNzXI2aDQREwR22ltdKxE"},"destination":{"placeId":"ChIJmecsSO01aDQRGT_QzrFSwfA"},"routingPreference":"TRAFFIC_UNAWARE","travelMode":"DRIVE"}'
    headers:
      Content-Type:
      - application/json
      X-Goog-Api-Key:
      - bad_token
      X-Goog-Fieldmask:
      - routes.duration,routes.distanceMeters,routes.polyline.encodedPolyline
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": 400,
            "message": "API key not valid. Please pass a valid API key.",
            "status": "INVALID_ARGUMENT",
            "details": [
              {
                "@type": "type.googleapis.com/google.rpc.ErrorInfo",
                "reason": "API_KEY_INVALID",
                "domain": "googleapis.com",
                "metadata": {
                  "service": "routes.googleapis.com"
                }
              }
            ]
          }
        }
  recorded_at: Fri, 01 Dec 2023 04:21:50 GMT
[...]
- request:
    method: get
    uri: https://places.googleapis.com/v1/places/ChIJQyv318Q1aDQRYz_krC4mdb4
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Goog-Api-Key:
      - "<GMAP_TOKEN>"
      X-Goog-Fieldmask:
      - id,displayName,formattedAddress,rating,regularOpeningHours,primaryType
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    b[...]
[...]
- request:
    method: get
    uri: https://places.googleapis.com/v1/places/ChIJB7ZNzXI2aDQREwR22ltdKxE
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Goog-Api-Key:
      - "<GMAP_TOKEN>"
      X-Goog-Fieldmask:
      - id,displayName,formattedAddress,rating,regularOpeningHours,primaryType
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ChIJB7ZNzXI2aDQREwR22ltdKxE",
          "formattedAddress": "No. 101號, Section 2, Guangfu Rd, East District, Hsinchu City, Taiwan 300",
          "rating": 4.6,
          "displayName": {
            "text": "National Tsing Hua University",
            "languageCode": "en"
          },
          "primaryType": "university"
        }
  recorded_at: Fri, 01 Dec 2023 04:21:55 GMT
recorded_with: VCR 6.2.0
