---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/findplacefromtext/json?fields=place_id,name&input=notexistentplace&inputtype=textquery&key=<GMAP_TOKEN>
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
           "candidates" : [],
           "status" : "ZERO_RESULTS"
        }
  recorded_at: Fri, 27 Oct 2023 17:44:53 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/findplacefromtext/json?fields=place_id,name&input=%E6%B8%85%E5%A4%A7&inputtype=textquery&key=<GMAP_TOKEN>
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n   \"candidates\" : \n   [\n      {\n         \"name\" : \"國立清華大學\",\n
        \        \"place_id\" : \"ChIJB7ZNzXI2aDQREwR22ltdKxE\"\n      }\n   ],\n
        \  \"status\" : \"OK\"\n}"
  recorded_at: Fri, 27 Oct 2023 17:44:53 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?fields=name,place_id,rating,formatted_address&key=<GMAP_TOKEN>&place_id=ChIJB7ZNzXI2aDQREwR22ltdKxE
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n   \"html_attributions\" : [],\n   \"result\" : \n   {\n      \"formatted_address\"
        : \"No. 101號, Section 2, Guangfu Rd, East District, Hsinchu City, Taiwan 300\",\n
        \     \"name\" : \"National Tsing Hua University\",\n      \"place_id\" :
        \"ChIJB7ZNzXI2aDQREwR22ltdKxE\",\n      \"rating\" : 4.6\n   },\n   \"status\"
        : \"OK\"\n}"
  recorded_at: Fri, 27 Oct 2023 17:44:53 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/findplacefromtext/json?fields=place_id,name&input=%E6%B8%85%E5%A4%A7&inputtype=textquery&key=bad_token
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
           "candidates" : [],
           "error_message" : "The provided API key is invalid.",
           "status" : "REQUEST_DENIED"
        }
  recorded_at: Fri, 27 Oct 2023 17:44:53 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/findplacefromtext/json?fields=place_id,name&input=Nanda%20Campus&inputtype=textquery&key=<GMAP_TOKEN>
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n   \"candidates\" : \n   [\n      {\n         \"name\" : \"國立清華大學
        南大校區\",\n         \"place_id\" : \"ChIJmecsSO01aDQRGT_QzrFSwfA\"\n      }\n
        \  ],\n   \"status\" : \"OK\"\n}"
  recorded_at: Fri, 27 Oct 2023 17:44:53 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?fields=name,place_id,rating,formatted_address&key=<GMAP_TOKEN>&place_id=ChIJmecsSO01aDQRGT_QzrFSwfA
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n   \"html_attributions\" : [],\n   \"result\" : \n   {\n      \"formatted_address\"
        : \"No. 521號, Nanda Rd, East District, Hsinchu City, Taiwan 300\",\n      \"name\"
        : \"National Tsing Hua University Nanda Campus\",\n      \"place_id\" : \"ChIJmecsSO01aDQRGT_QzrFSwfA\",\n
        \     \"rating\" : 4.4\n   },\n   \"status\" : \"OK\"\n}"
  recorded_at: Fri, 27 Oct 2023 17:44:53 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/findplacefromtext/json?fields=place_id,name&input=invaliddestinationId&inputtype=textquery&key=<GMAP_TOKEN>
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
           "candidates" : [],
           "status" : "ZERO_RESULTS"
        }
  recorded_at: Fri, 27 Oct 2023 17:44:53 GMT
- request:
    method: post
    uri: https://routes.googleapis.com/directions/v2:computeRoutes
    body:
      encoding: ASCII-8BIT
      string: '{"origin":{"placeId":"ChIJB7ZNzXI2aDQREwR22ltdKxE"},"destination":{"placeId":"ChIJmecsSO01aDQRGT_QzrFSwfA"},"routingPreference":"TRAFFIC_UNAWARE","travelMode":"DRIVE"}'
    headers:
      Content-Type:
      - application/json
      X-Goog-Api-Key:
      - "<GMAP_TOKEN>"
      X-Goog-Fieldmask:
      - routes.duration,routes.distanceMeters,routes.polyline.encodedPolyline
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "routes": [
            {
              "distanceMeters": 3855,
              "duration": "700s",
              "polyline": {
                "encodedPolyline": "y~ivCgdoaVA@cBoAMMeCvDcHbMc@`AuDxQkBdI{AhGg@pB_CjLMPaB~GMr@_B|GaAnEi@lBI^?\\YxDd@F\\VvAbCfEbInBlD~@jBfEpHvEzIxEpJ`B`D~B`EhEjIdCtE^l@HGb@Ft@@"
              }
            }
          ]
        }
  recorded_at: Fri, 27 Oct 2023 17:44:53 GMT
- request:
    method: post
    uri: https://routes.googleapis.com/directions/v2:computeRoutes
    body:
      encoding: ASCII-8BIT
      string: '{"origin":{"placeId":"ChIJB7ZNzXI2aDQREwR22ltdKxE"},"destination":{"placeId":"ChIJmecsSO01aDQRGT_QzrFSwfA"},"routingPreference":"TRAFFIC_UNAWARE","travelMode":"DRIVE"}'
    headers:
      Content-Type:
      - application/json
      X-Goog-Api-Key:
      - bad_token
      X-Goog-Fieldmask:
      - routes.duration,routes.distanceMeters,routes.polyline.encodedPolyline
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": 400,
            "message": "API key not valid. Please pass a valid API key.",
            "status": "INVALID_ARGUMENT",
            "details": [
              {
                "@type": "type.googleapis.com/google.rpc.ErrorInfo",
                "reason": "API_KEY_INVALID",
                "domain": "googleapis.com",
                "metadata": {
                  "service": "routes.googleapis.com"
                }
              }
            ]
          }
        }
  recorded_at: Fri, 27 Oct 2023 17:44:53 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/findplacefromtext/json?fields=place_id,name&input=Hsinchu%20zoo&inputtype=textquery&key=<GMAP_TOKEN>
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n   \"candidates\" : \n   [\n      {\n         \"name\" : \"新竹市立動物園\",\n
        \        \"place_id\" : \"ChIJl78Wnt01aDQRz1shOsBVUGU\"\n      }\n   ],\n
        \  \"status\" : \"OK\"\n}"
  recorded_at: Fri, 27 Oct 2023 17:44:53 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?fields=name,place_id,rating,formatted_address&key=<GMAP_TOKEN>&place_id=ChIJl78Wnt01aDQRz1shOsBVUGU
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n   \"html_attributions\" : [],\n   \"result\" : \n   {\n      \"formatted_address\"
        : \"300034, Taiwan, Hsinchu City, East District, 食品路66號300\",\n      \"name\"
        : \"Hsinchu Zoo\",\n      \"place_id\" : \"ChIJl78Wnt01aDQRz1shOsBVUGU\",\n
        \     \"rating\" : 4\n   },\n   \"status\" : \"OK\"\n}"
  recorded_at: Fri, 27 Oct 2023 17:44:53 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/findplacefromtext/json?fields=place_id,name&input=Big%20City&inputtype=textquery&key=<GMAP_TOKEN>
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n   \"candidates\" : \n   [\n      {\n         \"name\" : \"Big City遠東巨城購物中心\",\n
        \        \"place_id\" : \"ChIJQyv318Q1aDQRYz_krC4mdb4\"\n      }\n   ],\n
        \  \"status\" : \"OK\"\n}"
  recorded_at: Fri, 27 Oct 2023 17:44:53 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/place/details/json?fields=name,place_id,rating,formatted_address&key=<GMAP_TOKEN>&place_id=ChIJQyv318Q1aDQRYz_krC4mdb4
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n   \"html_attributions\" : [],\n   \"result\" : \n   {\n      \"formatted_address\"
        : \"No. 229號, Zhongyang Rd, East District, Hsinchu City, Taiwan 30041\",\n
        \     \"name\" : \"Big City\",\n      \"place_id\" : \"ChIJQyv318Q1aDQRYz_krC4mdb4\",\n
        \     \"rating\" : 4.4\n   },\n   \"status\" : \"OK\"\n}"
  recorded_at: Fri, 27 Oct 2023 17:44:53 GMT
- request:
    method: post
    uri: https://routes.googleapis.com/distanceMatrix/v2:computeRouteMatrix
    body:
      encoding: ASCII-8BIT
      string: '{"origins":[{"waypoint":{"placeId":"ChIJB7ZNzXI2aDQREwR22ltdKxE"}},{"waypoint":{"placeId":"ChIJQyv318Q1aDQRYz_krC4mdb4"}},{"waypoint":{"placeId":"ChIJl78Wnt01aDQRz1shOsBVUGU"}}],"destinations":[{"waypoint":{"placeId":"ChIJB7ZNzXI2aDQREwR22ltdKxE"}},{"waypoint":{"placeId":"ChIJQyv318Q1aDQRYz_krC4mdb4"}},{"waypoint":{"placeId":"ChIJl78Wnt01aDQRz1shOsBVUGU"}}],"routingPreference":"TRAFFIC_UNAWARE","travelMode":"DRIVE"}'
    headers:
      Content-Type:
      - application/json
      X-Goog-Api-Key:
      - "<GMAP_TOKEN>"
      X-Goog-Fieldmask:
      - originIndex,destinationIndex,duration,distanceMeters,status
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "[{\n  \"originIndex\": 0,\n  \"destinationIndex\": 0,\n  \"status\":
        {},\n  \"duration\": \"0s\"\n}\n,\r\n{\n  \"originIndex\": 2,\n  \"destinationIndex\":
        2,\n  \"status\": {},\n  \"duration\": \"0s\"\n}\n,\r\n{\n  \"originIndex\":
        1,\n  \"destinationIndex\": 1,\n  \"status\": {},\n  \"duration\": \"0s\"\n}\n,\r\n{\n
        \ \"originIndex\": 2,\n  \"destinationIndex\": 0,\n  \"status\": {},\n  \"distanceMeters\":
        2229,\n  \"duration\": \"430s\"\n}\n,\r\n{\n  \"originIndex\": 0,\n  \"destinationIndex\":
        2,\n  \"status\": {},\n  \"distanceMeters\": 2283,\n  \"duration\": \"400s\"\n}\n,\r\n{\n
        \ \"originIndex\": 1,\n  \"destinationIndex\": 2,\n  \"status\": {},\n  \"distanceMeters\":
        1999,\n  \"duration\": \"404s\"\n}\n,\r\n{\n  \"originIndex\": 1,\n  \"destinationIndex\":
        0,\n  \"status\": {},\n  \"distanceMeters\": 3979,\n  \"duration\": \"536s\"\n}\n,\r\n{\n
        \ \"originIndex\": 2,\n  \"destinationIndex\": 1,\n  \"status\": {},\n  \"distanceMeters\":
        1831,\n  \"duration\": \"448s\"\n}\n,\r\n{\n  \"originIndex\": 0,\n  \"destinationIndex\":
        1,\n  \"status\": {},\n  \"distanceMeters\": 3195,\n  \"duration\": \"463s\"\n}\n]"
  recorded_at: Fri, 27 Oct 2023 17:44:54 GMT
[...]
